body{
    background:#fff !important;
    font-family: Helvetica !important;
}
.navbar{
    padding-top:10px;
    padding-bottom:10px;
    font-size:13px;
    box-shadow:0 0 10px #ccc;
    background: #fff;
    color:#ff741a;
}
.navbar-inverse{
    border:none;
    
    .navbar-toggle{
        border:none;
        background:#eb5f02;
    }
    .navbar-toggle:hover{
        border:none;
        background:#eb5f02;    
    }
    .navbar-collapse{
        border:none;
    }
    .navbar-form{
        border:none;
    }
    .navbar-nav>li>a{
        color:#000;
    }    
    .navbar-nav>li>a:focus{
        color:#eb5f02;
    }
    .navbar-nav>li>a:hover{
        color:#ff731a;
    }
    .navbar-nav>li>a:hover{
        color:#eb5f02;
    }
}

span.orange{
    color:#ff741a;
    font-weight: bold;
}
ul.right{
    float:right;
    @media only screen and (max-width:765px){
        float:none;
    }
}
img.logo{
    margin-top:-5px;
}

// Landing Lelang

.landing-lelang{
    padding-top:3%;
    .body-header{
        p{
            font-size:18px;
            font-weight: bold;
        }
        #date{
            color:#ff731a;
        }
    }
    .lelang-lot{
        background:#ff741a;
        margin-top:15px;
        padding:35px;
        padding-top:55px;
        h2{
            color:#fff;
            font-size:24px;
        }
    }
    img{
        padding:10px;
        margin-top:15px;
    }

    .content-lelang{
        margin-top:4%;
        p.sub-title{
            line-height: 1;
        }
        p.year{
            line-height: 1;
        }
        p.type{
            line-height: 1;
        }
        p.loc{
            line-height: 1;
        }
        button{
            background: #ff741a;
            border:none;
            color:#fff;
        }
    }
    p.lihatJadwal{
        text-align: center;
        margin-top: 30px;
    }
    .pagination{
        padding-top:1%;
        padding-left:10%;
    }
}

// Location Lelang

.location-lelang{
    .body-header{
        p{
            font-size:18px;
            font-weight: bold;
        }
        #date{
            color:#ff731a;
        }
    }
    .wrap-location{
        font-size:20px;
        font-weight: bold;
        font-family: Helvetica;
        margin-top:2%;
    }
    .body-location{
        margin-top:-10px;
        p{
            font-size:12px;
            line-height: 0.5;
        }
    }
}

.wrap-client{
    padding-top:3%;
    .client-border{
        border-top:2px solid #f8f8f8;
        padding-top:2%;
    }
}


.wrap-footer{
    color:#b3b3b3;
    
    .logo-footer{
        padding-bottom:2%;
    }
    p.street{
        line-height: 0.8;
    }

    p.phone{
        line-height: 0;    
    }

    .body-client{
        padding-top:4%;
    }

    .logo-addins{
        padding-top:10%;
    }

    .border{
        border-top:2px solid #f8f8f8;
        border-bottom:2px solid #f8f8f8;
        padding-bottom:3%;
        padding-top:2%;
    }
    p{
        line-height: 1.2;
        font-family: Helvetica;
    }
    p.footer{
        text-align: center;
        padding-top:1%;
    }

}

.adsense{
    padding-top:2%;
}


//Back to Top

p.backTop{
    border:none;
    font-size:30px;
    color:#eb5f02;
}

//End to Top

@import 'Components/Banner.scss';
@import 'Components/Card1.scss';