.title-section {
  font-size: 18px !important;
  font-weight: 700;
  color: $base-color;
  margin-bottom: 0;
  padding-top: 2%;
  font-family: $font-type2;
}
.title-hr {
  margin: 5px 0;
}

.base-color {
  color: $base-color;
}

.box-shadow {
  -moz-box-shadow: 1px 2px 4px #b6c6d8;
  -webkit-box-shadow: 1px 2px 4px #b6c6d8;
  box-shadow: 1px 2px 4px #b6c6d8;
}
