* {
  box-sizing: border-box; }

.flex {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex; }
  .flex.column {
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column; }
  .flex.row {
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    -ms-flex-direction: row; }
  .flex .swap1 {
    order: 1;
    -webkit-order: 1;
    -moz-order: 1;
    -o-order: 1;
    -ms-order: 1; }
  .flex .swap2 {
    order: 2;
    -webkit-order: 2;
    -moz-order: 2;
    -o-order: 2;
    -ms-order: 2; }

@media screen and (max-width: 767px) {
  .flex .swap1 {
    order: 2;
    -webkit-order: 2;
    -moz-order: 2;
    -o-order: 2;
    -ms-order: 2; }
  .flex .swap2 {
    order: 1;
    -webkit-order: 1;
    -moz-order: 1;
    -o-order: 1;
    -ms-order: 1; } }

section {
  padding-bottom: 5%; }
  section .title {
    text-align: center;
    font-weight: bold;
    padding-top: 20px; }
    section .title:after {
      content: "";
      display: block;
      width: 100px;
      height: 3px;
      margin: 20px auto;
      background-color: #b9de26; }

#top-menu {
  margin-bottom: 0px;
  padding: 10px;
  border: none;
  background: none; }
  #top-menu .logo {
    height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: auto; }
  #top-menu #top-menu-content .nav > li > a {
    padding-right: 5px; }
  #top-menu #top-menu-content .active a,
  #top-menu #top-menu-content .open a {
    background: none; }
  #top-menu #top-menu-content .dropdown-menu {
    border: none;
    box-shadow: none;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.8); }

@media screen and (max-width: 991px) {
  #top-menu .logo {
    position: relative; } }

@media screen and (max-width: 767px) {
  #top-menu .dropdown-toggle:focus, #top-menu .dropdown-toggle:visited, #top-menu .dropdown-toggle:active {
    color: #777; }
  #top-menu .dropdown-toggle .caret {
    display: none; }
  #top-menu .dropdown-menu {
    display: block;
    position: static;
    width: 100%;
    float: none; }
    #top-menu .dropdown-menu .dropdown-header,
    #top-menu .dropdown-menu a {
      padding: 5px 15px 5px 25px; }
    #top-menu .dropdown-menu a {
      line-height: 20px;
      color: #777; } }

#top-picture {
  height: 200px;
  background-size: 100% !important;
  background-color: rgba(11, 28, 28, 0.1915), url("../image/banner/bannerabout.jpg");
  /* Fallback */
  background-image: url("../image/banner/bannerabout.jpg");
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11, 28, 28, 0.137)), to(rgba(11, 28, 28, 0.246))), url("../image/banner/bannerabout.jpg");
  background-image: -webkit-linear-gradient(top, rgba(11, 28, 28, 0.137), rgba(11, 28, 28, 0.246)), url("../image/banner/bannerabout.jpg");
  background-image: -moz-linear-gradient(top, rgba(11, 28, 28, 0.137), rgba(11, 28, 28, 0.246)), url("../image/banner/bannerabout.jpg");
  background-image: -ms-linear-gradient(top, rgba(11, 28, 28, 0.137), rgba(11, 28, 28, 0.246)), url("../image/banner/bannerabout.jpg");
  background-image: -o-linear-gradient(top, rgba(11, 28, 28, 0.137), rgba(11, 28, 28, 0.246)), url("../image/banner/bannerabout.jpg");
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(11, 28, 28, 0.137)', EndColorStr='rgba(11, 28, 28, 0.246)')"; }
  #top-picture .content {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -o-align-items: flex-end;
    -ms-align-items: flex-end; }
    #top-picture .content .card {
      max-width: 600px;
      color: #eaeaea;
      text-align: center;
      margin-bottom: 15px; }
      @media only screen and (max-width: 500px) {
        #top-picture .content .card {
          margin-bottom: 0px !important; }
          #top-picture .content .card h1 {
            font-size: 20px; } }
      #top-picture .content .card h1 {
        font-size: 26px; }
      #top-picture .content .card .line {
        display: inline-block;
        width: 100px;
        height: 3px;
        margin: 15px;
        background-color: #b9de26; }
      #top-picture .content .card .description {
        font-size: 24px; }

.bannerabout {
  background: url("../image/banner/1.jpg") no-repeat;
  background-size: cover;
  background: #000;
  padding: 10%; }

.bannerAbout .desktop {
  height: 350px;
  background-size: 100% !important;
  background: url("../image/banner/1.jpg");
  background-attachment: fixed;
  margin-top: 40px; }
  .bannerAbout .desktop .shadow {
    background: rgba(255, 255, 255, 0.561);
    height: 350px;
    padding-top: 50px; }
    .bannerAbout .desktop .shadow h3 {
      font-weight: 400 !important;
      font-size: 30px;
      color: #1f659a; }
  @media only screen and (max-width: 800px) {
    .bannerAbout .desktop {
      display: none; } }

.bannerAbout .mobile {
  height: 520px;
  background-size: cover !important;
  background: url("../image/banner/1.jpg") no-repeat; }
  .bannerAbout .mobile .shadow {
    background: rgba(255, 255, 255, 0.561);
    height: 520px;
    padding: 80px; }
    .bannerAbout .mobile .shadow h3 {
      font-weight: 400 !important;
      font-size: 30px;
      color: #1f659a; }
  @media only screen and (min-width: 800px) {
    .bannerAbout .mobile {
      display: none; } }
