.banner_background button {
  background: #3c8dbc;
  border: #3c8dbc;
  border-bottom: 5px solid #3c8dbc;
  padding: 10px 30px 25px 30px;
  font-size: 12px;
}
@media only screen and (max-width: 425px) {
  .banner_background button {
    margin-left: 30px;
  }
}

.banner_background ul.slick-dots button {
  margin-top: -10px;
  padding: 10px;
}

.banner_background h4 {
  color: #fff;
}
@media only screen and (max-width: 425px) {
  .banner_background h4 {
    font-size: 20px !important;
    margin-left: 8%;
  }
}

.banner_background h1 {
  color: #fff;
  font-size: 43px;
}
@media only screen and (max-width: 425px) {
  .banner_background h1 {
    font-size: 30px !important;
    margin-left: 30px;
  }
}

.banner_background p {
  color: #fff;
}
@media only screen and (max-width: 425px) {
  .banner_background p {
    margin-left: 30px;
  }
}

.banner_background .containBanner1 {
  background: url("../image/banner/Ban1.jpg") no-repeat;
  background-size: 100%;
  padding: 425px;
  background-size: cover;
  background-position: 0px 40px;
}
@media only screen and (max-width: 425px) {
  .banner_background .containBanner1 {
    background: url("../image/banner/mobile/Ban1.jpg") no-repeat;
    margin-top: 70px;
    height: 420px !important;
    background-size: cover;
  }
}

.banner_background .containBanner2 {
  background: url("../image/banner/Ban2.jpg") no-repeat;
  background-size: 100%;
  padding: 425px;
  background-size: cover;
  background-position: 0px 28px;
}
@media only screen and (max-width: 425px) {
  .banner_background .containBanner2 {
    background: url("../image/banner/mobile/Ban2.jpg") no-repeat;
    margin-top: 70px;
    height: 420px !important;
    background-size: cover;
  }
}

.banner_background .containBanner3 {
  background: url("../image/banner/Ban3.jpg") no-repeat;
  background-size: 100%;
  padding: 425px;
  background-size: cover;
  background-position: 0px 28px;
}
@media only screen and (max-width: 425px) {
  .banner_background .containBanner3 {
    background: url("../image/banner/mobile/Ban3.jpg") no-repeat;
    margin-top: 70px;
    height: 420px !important;
    background-size: cover;
  }
}

.banner_background .containBanner4 {
  background: url("../image/banner/Ban4.jpg") no-repeat;
  background-size: 100%;
  padding: 425px;
  background-size: cover;
  background-position: 0px 28px;
}
@media only screen and (max-width: 425px) {
  .banner_background .containBanner4 {
    background: url("../image/banner/mobile/Ban4.jpg") no-repeat;
    margin-top: 70px;
    height: 420px !important;
    background-size: cover;
  }
}

.banner_background .containBanner5 {
  background: url("../image/slideshow/5.jpg") center no-repeat;
  background-size: cover;
  padding: 150px;
}
@media only screen and (max-width: 425px) {
  .banner_background .containBanner5 {
    margin-top: 5%;
    padding: 40px 0px 0px 0px !important;
    height: 400px !important;
  }
}
