.background-card {
  background: #fbfbfb;
  margin-top: 10%;
  padding: 5%;
  margin-bottom: 30%; }
  .background-card:hover {
    border: 1px dotted #1a4c93;
    background: #fff; }
  @media only screen and (max-width: 700px) {
    .background-card {
      padding: 0px; } }
  .background-card img {
    padding: 20px; }
    @media only screen and (max-width: 700px) {
      .background-card img {
        padding: 10px; } }
  .background-card h3 {
    font-size: 16px;
    font-weight: bold; }
    @media only screen and (max-width: 500px) {
      .background-card h3 {
        font-size: 14px; } }
  .background-card button {
    background: #1a4c93;
    border: #1a4c93;
    border-bottom: 5px solid #1a4c93;
    padding: 10px 30px 25px 30px;
    font-size: 12px; }
    @media only screen and (max-width: 700px) {
      .background-card button {
        padding: 6px 20px 10px 20px;
        font-size: 12px;
        margin-bottom: 15px; } }
  .background-card button:hover {
    background: #1a4c93;
    border: #1a4c93;
    border-bottom: 5px solid #1a4c93; }
  .background-card button:active {
    background: #1a4c93;
    border: #1a4c93;
    border-bottom: 5px solid #1a4c93; }
  .background-card button:focus {
    background: #1a4c93;
    border: #1a4c93;
    border-bottom: 5px solid #1a4c93; }
  @media only screen and (max-width: 320px) {
    .background-card button {
      padding: 5px;
      font-size: 10px; } }

.body-card2 {
  padding-top: 5%;
  padding-bottom: 5%; }

.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-tab {
  text-align: left !important;
  border: 2px solid #f8f8f8;
  font-size: 12px;
  padding: 15px 40px 15px 40px;
  color: #ccc; }

.ant-tabs-tab-active.ant-tabs-tab {
  background: #f8f8f8;
  color: #000 !important; }

.ant-tabs-ink-bar {
  background-color: #1a4c93 !important; }

.background-card2 {
  background: #fbfbfb;
  margin-bottom: 30px;
  padding: 20px;
  margin-top: 30px;
  margin-right: 15px;
  transition: 0.3s; }
  .background-card2 img {
    margin-top: 20%; }
  .background-card2 button {
    background: #1a4c93;
    border: #1a4c93;
    border-bottom: 5px solid #fbfbfb;
    padding: 10px 30px 25px 30px;
    font-size: 12px;
    margin-bottom: 15px;
    background: #fbfbfb;
    color: #fbfbfb; }
  .background-card2 p.price {
    margin-top: -10px; }
  .background-card2 p.skin {
    font-size: 12px; }
  .background-card2 h3 {
    font-size: 14px;
    margin-top: 10px;
    padding-top: 10%;
    font-weight: bold; }

button.explore {
  background: #1a4c93;
  color: #fff;
  padding: 10px 10px 30px 10px;
  width: 100%;
  border: none; }
  button.explore p {
    transition: 0.2s; }
  @media only screen and (max-width: 425px) {
    button.explore {
      font-size: 12px; } }

button.explore:hover {
  background: #1a4c93;
  color: #fff;
  padding: 10px 10px 30px 10px;
  width: 100%;
  border: none; }
  button.explore:hover p {
    margin-left: 10px;
    transition: 0.2s; }

.background-card2:hover {
  background: #fff;
  box-shadow: 0 0 5px #ccc;
  transform: scale(1.1); }
  .background-card2:hover button {
    background: #1a4c93;
    border: #1a4c93;
    border-bottom: 5px solid #1a4c93;
    font-size: 12px;
    display: inline-block !important; }
  .background-card2:hover p.price {
    padding-bottom: 0px !important; }

.wrap-cardCarousel .header-ongoing {
  margin-top: 20px; }

.wrap-cardCarousel button {
  font-size: 12px; }

.wrap-cardCarousel .header {
  background: #f8f8f8;
  margin-bottom: 15px; }
  .wrap-cardCarousel .header p.left {
    font-weight: bold;
    padding-top: 15px;
    padding-left: 10px; }
  .wrap-cardCarousel .header p.right {
    color: #ccc;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 20px;
    float: right;
    transition: 0.2s; }
    .wrap-cardCarousel .header p.right:hover {
      padding-right: 10px;
      transition: 0.2s; }

.wrap-cardCarousel li.slider-slide {
  position: none !important; }

.wrap-cardCarousel .background-cardCarousel {
  padding-top: 50px;
  border: 1px solid #ccc;
  height: 300px; }
  .wrap-cardCarousel .background-cardCarousel:hover {
    background: #f8f8f8;
    cursor: pointer; }

.wrap-cardCarousel img {
  padding-top: 7%;
  width: 80%;
  padding: 10px; }

.wrap-cardCarousel h3 {
  font-size: 14px;
  padding-top: 10%;
  font-weight: bold; }

.wrap-cardCarousel p.color {
  font-size: 12px;
  line-height: 0.5; }

.wrap-cardCarousel p.last {
  line-height: 0.5;
  font-size: 12px; }

@media only screen and (max-width: 987px) {
  .wrap-cardCarousel {
    display: none; } }

.wrap-cardCarouselMobile {
  display: none; }
  .wrap-cardCarouselMobile .header-ongoing {
    margin-top: 20px; }
  .wrap-cardCarouselMobile button {
    font-size: 12px; }
  .wrap-cardCarouselMobile .header {
    background: #f8f8f8;
    margin-bottom: 15px; }
    .wrap-cardCarouselMobile .header p.left {
      font-weight: bold;
      padding-top: 15px;
      padding-left: 10px; }
    .wrap-cardCarouselMobile .header p.right {
      color: #ccc;
      padding-top: 15px;
      padding-left: 10px;
      padding-right: 20px;
      float: right;
      transition: 0.2s; }
      .wrap-cardCarouselMobile .header p.right:hover {
        padding-right: 10px;
        transition: 0.2s; }
  .wrap-cardCarouselMobile li.slider-slide {
    position: none !important; }
  .wrap-cardCarouselMobile .background-cardCarousel {
    padding-top: 50px;
    border: 1px solid #ccc;
    height: 400px; }
    @media only screen and (max-width: 425px) {
      .wrap-cardCarouselMobile .background-cardCarousel {
        height: 280px; } }
    .wrap-cardCarouselMobile .background-cardCarousel:hover {
      background: #f8f8f8;
      cursor: pointer; }
  .wrap-cardCarouselMobile img {
    padding-top: 7%;
    width: 80%;
    padding: 10px; }
  .wrap-cardCarouselMobile h3 {
    font-size: 14px;
    padding-top: 10%;
    font-weight: bold; }
  .wrap-cardCarouselMobile p.color {
    font-size: 12px;
    line-height: 0.5; }
  .wrap-cardCarouselMobile p.last {
    line-height: 0.5;
    font-size: 12px; }
  @media only screen and (max-width: 987px) {
    .wrap-cardCarouselMobile {
      display: inherit; }
      .wrap-cardCarouselMobile ul.slider-list {
        height: 300px !important; } }

.slider-decorator-2 {
  display: none; }

ul.slider-list {
  height: 300px !important; }

.landing-lelang {
  padding-top: 3%; }
  .landing-lelang .body-header p {
    font-size: 18px;
    font-weight: bold; }
  .landing-lelang .body-header #date {
    color: #1a4c93; }
  .landing-lelang .lelang-lot {
    background: #1a4c93;
    margin-top: 15px; }
    @media only screen and (max-width: 425px) {
      .landing-lelang .lelang-lot {
        background: transparent;
        padding: 0px; } }
    @media only screen and (max-width: 800px) {
      .landing-lelang .lelang-lot {
        padding: 0px;
        background: transparent; } }
    @media only screen and (min-width: 1000px) and (max-width: 1040px) {
      .landing-lelang .lelang-lot {
        margin-top: 10px;
        margin-bottom: 10px; } }
    .landing-lelang .lelang-lot h2 {
      color: #fff;
      font-size: 14px;
      padding: 10px; }
      @media only screen and (max-width: 425px) {
        .landing-lelang .lelang-lot h2 {
          font-size: 12px;
          text-align: center;
          padding: 10px;
          color: #1a4c93; } }
      @media only screen and (max-width: 800px) {
        .landing-lelang .lelang-lot h2 {
          color: #1a4c93;
          font-size: 14px; } }
      @media only screen and (min-width: 700px) and (max-width: 780px) {
        .landing-lelang .lelang-lot h2 {
          font-size: 15px;
          text-align: center;
          padding: 10px;
          color: #1a4c93; } }
  .landing-lelang img {
    padding: 10px;
    margin-top: 15px; }
  .landing-lelang .content-lelang {
    margin-top: 4%; }
    .landing-lelang .content-lelang p.sub-title {
      line-height: 1; }
    .landing-lelang .content-lelang p.year {
      line-height: 1; }
    .landing-lelang .content-lelang p.type {
      line-height: 1; }
    .landing-lelang .content-lelang p.loc {
      line-height: 1; }
      @media only screen and (max-width: 720px) {
        .landing-lelang .content-lelang p.loc {
          line-height: 2; } }
    @media only screen and (max-width: 425px) {
      .landing-lelang .content-lelang {
        font-size: 12px; } }
    .landing-lelang .content-lelang button {
      background: #1a4c93;
      border: none;
      color: #fff;
      font-size: 12px; }
      @media only screen and (max-width: 425px) {
        .landing-lelang .content-lelang button {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 12px; } }
      @media only screen and (max-width: 800px) {
        .landing-lelang .content-lelang button {
          margin-top: 10px;
          margin-bottom: 10px; } }
      @media only screen and (min-width: 700px) and (max-width: 780px) {
        .landing-lelang .content-lelang button {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 12px; } }
  .landing-lelang p.lihatJadwal {
    text-align: center;
    margin-top: 30px; }
  .landing-lelang .pagination {
    padding-top: 1%;
    padding-left: 10%; }
  .landing-lelang .row-lelang {
    border: 2px dotted #ccc;
    margin-top: 2%; }
    .landing-lelang .row-lelang:hover {
      border: 2px solid #1a4c93;
      transition: 0.5s; }
    @media only screen and (max-width: 768px) {
      .landing-lelang .row-lelang {
        border: 1px solid #ccc !important; } }
