.info-lelang-ct {
  border: 1px solid #d0d0d0; }
  .info-lelang-ct .menu-info {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: #564a80;
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 2rem; }
    @media screen and (max-width: 480px) {
      .info-lelang-ct .menu-info {
        width: 100%; } }
    .info-lelang-ct .menu-info .menu-item {
      cursor: pointer;
      padding: 10px;
      border: 1px solid #fff; }
      .info-lelang-ct .menu-info .menu-item:hover {
        border: 1px solid #d0d0d0; }
      .info-lelang-ct .menu-info .menu-item.active {
        background: #eeeeee;
        border: 1px solid #eee; }
  .info-lelang-ct .ct-content {
    padding: 10px 50px; }
  .info-lelang-ct .accordion-flex {
    display: flex;
    align-items: center; }
    .info-lelang-ct .accordion-flex img {
      width: 50px;
      height: 50px;
      margin-right: 20px; }
  .info-lelang-ct .ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow {
    line-height: 70px; }
