.wrap-login {
  padding-top: 8%;
  margin-right: 8%; }
  .wrap-login a.login-form-forgot {
    float: right; }
  .wrap-login .boxshadow-login {
    box-shadow: 0 0 10px #ccc;
    padding: 3%; }
  .wrap-login button.login-form-button {
    width: 100%;
    background: #1a4c93;
    border: none; }
  .wrap-login input::placeholder {
    font-size: 12px; }
  .wrap-login input {
    font-size: 12px; }
  @media only screen and (max-width: 320px) {
    .wrap-login {
      padding-top: 10%;
      padding-left: 8%; } }
  @media only screen and (min-width: 520px) and (max-width: 600px) {
    .wrap-login {
      padding-top: 10%;
      padding-left: 10%; } }
