.mt-2 {
  margin-top: 15px; }

.mt-3 {
  margin-top: 25px; }

.mb-2 {
  margin-bottom: 15px; }

.mb-3 {
  margin-bottom: 25px; }

.pr-2 {
  padding-right: 15px; }

.font-big {
  font-size: 36px; }

.p-3 {
  padding: 20px; }

.height-100 {
  height: 100%; }

.radius {
  border-radius: 5px;
  overflow: hidden; }

.color-white {
  color: #fff; }

.color-grey {
  color: #8c8a8a; }

.d-flex {
  display: flex; }

.panel-form {
  min-height: 290px; }

.panel-form .panel-form-right {
  padding: 30px; }

.panel-form .ant-form-item {
  margin-bottom: 0 !important; }

.btn-cs {
  background-color: #0055a7 !important;
  border-radius: 60px !important;
  min-width: 120px !important;
  min-height: 38px !important; }

.sticky-form {
  position: absolute;
  top: 100px;
  right: 10%;
  width: 400px; }

.text-area-cs {
  margin-top: 5px !important; }

/* Scrollbar custom */
.scrollClass {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
  /* Handle */ }
  .scrollClass:hover {
    overflow-y: auto !important; }
  .scrollClass ::-webkit-scrollbar {
    width: 0.1rem;
    height: 0.1rem; }
  .scrollClass ::-webkit-scrollbar-thumb {
    background: #3a4aba; }

.form-h {
  height: calc(100vh - 30px);
  overflow: scroll; }
