.banner_background{
    button{
        background:#3c8dbc;
        border:#3c8dbc;
        border-bottom:5px solid #3c8dbc;
        padding: 10px 30px 25px 30px;
        font-size:12px;
    }
    .containBanner1{
        background:url('https://www.hyundaiusa.com/images/vehicles/pages/vlp/2018/santa-fe-sport/hero/base/2018-santa-fe-sport-24-base-frost-white.jpg')center no-repeat;   
        background-size:cover;
        padding:150px;
    }
    ul.slick-dots{
        button{
            margin-top:-10px;
            padding:10px;
        }
    }
    h4{
        color:#fff;
    }
    h1{
        color:#fff;
        font-size:43px;
    }
    p{
        color:#fff;
    }
    .containBanner2{
        background:url('https://www.hyundaiusa.com/images/vehicles/pages/vlp/2018/santa-fe-sport/hero/base/2018-santa-fe-sport-24-base-platinum-graphite.jpg')center no-repeat;   
        background-size:cover;
        padding:150px;
    }
}