.info-lelang-ct {
  border: 1px solid #d0d0d0;
  .menu-info {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: #10467F;
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 2rem;
    @media screen and (max-width: 480px) {
      width: 100%;
    }
    .menu-item {
      cursor: pointer;
      padding: 10px;
      border: 1px solid #fff;
      &:hover {
        border: 1px solid #eeeeee;
      }
      &.active {
        background: #eeeeee;
        border: 1px solid #eee;
      }
    }
  }
  .ct-content {
    padding: 10px 50px;
  }
  .accordion-flex {
    display: flex;
    align-items: center;
    img {
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }
  }
  .ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow {
    line-height: 70px;
  }
}
