body {
  background: #fff !important;
  font-family: Helvetica !important; }

button.buttonSearch {
  width: 100%;
  margin-top: 24px; }

button.search {
  width: 100%;
  border: 1px solid #40a9ff; }

.wrap-nav {
  position: fixed;
  z-index: 999;
  width: 100%; }
  .wrap-nav a.anchorActive {
    color: #3c8dbc !important; }
  .wrap-nav .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    box-shadow: 0 0 10px #ccc;
    background: #fff;
    color: #3c8dbc; }
  .wrap-nav .navbar-inverse {
    border: none; }
    .wrap-nav .navbar-inverse .navbar-toggle {
      border: none;
      background: #3c8dbc; }
    .wrap-nav .navbar-inverse .navbar-toggle:hover {
      border: none;
      background: #3c8dbc; }
    .wrap-nav .navbar-inverse .navbar-collapse {
      border: none; }
    .wrap-nav .navbar-inverse .navbar-form {
      border: none; }
    .wrap-nav .navbar-inverse .navbar-nav {
      background: transparent; }
      .wrap-nav .navbar-inverse .navbar-nav:focus {
        background: red !important; }
      .wrap-nav .navbar-inverse .navbar-nav .open a {
        background: transparent; }
      .wrap-nav .navbar-inverse .navbar-nav .open:hover {
        background: transparent; }
      .wrap-nav .navbar-inverse .navbar-nav .open:focus {
        background: transparent; }
      .wrap-nav .navbar-inverse .navbar-nav li a {
        color: #000; }
        .wrap-nav .navbar-inverse .navbar-nav li a:focus {
          color: #3c8dbc; }
        .wrap-nav .navbar-inverse .navbar-nav li a:hover {
          color: #3c8dbc; }

span.orange {
  color: #3c8dbc;
  font-weight: bold; }

ul.right {
  float: right; }
  @media only screen and (max-width: 765px) {
    ul.right {
      float: none; } }

img.logo {
  margin-top: -5px; }

.page-lokasi {
  padding-top: 8%; }
  @media only screen and (max-width: 600px) {
    .page-lokasi {
      padding-top: 18%; } }

.page-jadwal {
  padding-top: 5%; }
  @media only screen and (max-width: 600px) {
    .page-jadwal {
      padding-top: 18%; } }
  .page-jadwal .searchPanel {
    box-shadow: 0 0 10px #ccc;
    padding: 20px; }

.wrap-people {
  background: #fff;
  background-size: 100%;
  margin-top: 5%; }
  @media only screen and (max-width: 800px) {
    .wrap-people {
      padding-top: 20px; } }
  .wrap-people p.header {
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold; }

.wrap-kontak {
  padding-top: 8%; }
  .wrap-kontak .right-panel {
    box-shadow: 0 0 10px #ccc;
    padding: 30px; }
    .wrap-kontak .right-panel .form-contact input::placeholder {
      font-size: 12px; }
    .wrap-kontak .right-panel .form-contact textarea {
      height: 200px; }
    .wrap-kontak .right-panel .form-contact textarea::placeholder {
      font-size: 12px; }
    .wrap-kontak .right-panel .form-contact button {
      margin-top: 5%;
      width: 100%;
      background: #3c8dbc;
      border: 1px solid #3c8dbc; }
    .wrap-kontak .right-panel .header p.header {
      font-size: 18px;
      font-weight: bold;
      font-family: Helvetica;
      text-transform: uppercase; }
      .wrap-kontak .right-panel .header p.header span {
        color: #3c8dbc; }

.wrap-tatacara {
  padding-top: 5%; }
  .wrap-tatacara .desktop-tatacaraPage {
    padding-bottom: 10%; }
    @media only screen and (max-width: 800px) {
      .wrap-tatacara .desktop-tatacaraPage {
        display: none !important; } }
  .wrap-tatacara .mobile-tatacaraPage {
    display: none; }
    @media only screen and (max-width: 800px) {
      .wrap-tatacara .mobile-tatacaraPage {
        display: inherit !important; } }

.wrap-pengertianLelangPage {
  padding-top: 5%;
  padding-bottom: 8%; }
  .wrap-pengertianLelangPage p.header {
    font-size: 18px;
    font-weight: bold;
    font-family: Helvetica;
    text-transform: uppercase; }
  .wrap-pengertianLelangPage span.orange {
    color: #3c8dbc;
    font-weight: bold; }

.wrap-peraturanLelangPage {
  padding-top: 5%;
  padding-bottom: 5%; }
  .wrap-peraturanLelangPage p.header {
    font-size: 18px;
    font-weight: bold;
    font-family: Helvetica;
    text-transform: uppercase; }
  .wrap-peraturanLelangPage span.orange {
    font-weight: bold; }
  .wrap-peraturanLelangPage .collapse-body {
    padding: 10px;
    padding-left: 25px; }
    .wrap-peraturanLelangPage .collapse-body span {
      font-weight: bold;
      font-size: 14px;
      color: #3c8dbc; }

.wrap-tentangKamiPage {
  padding-top: 5%; }
  .wrap-tentangKamiPage .banner {
    background: url() no-repeat;
    background-size: cover;
    padding: 2%; }
  .wrap-tentangKamiPage .right-panel p.header {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; }
  .wrap-tentangKamiPage .right-panel p.description {
    line-height: 2; }

.wrap-footer {
  color: #b3b3b3; }
  .wrap-footer .logo-footer {
    padding-bottom: 2%; }
  .wrap-footer .body-client {
    padding-top: 4%; }
  .wrap-footer .border {
    border-top: 2px solid #f8f8f8;
    border-bottom: 2px solid #f8f8f8;
    padding-bottom: 3%;
    padding-top: 2%; }
    .wrap-footer .border p.title {
      font-weight: bold;
      color: #3c8dbc; }
  .wrap-footer p {
    font-family: Helvetica; }
  .wrap-footer p.footer {
    text-align: center;
    padding-top: 1%; }
  .wrap-footer input.footer-email::placeholder {
    color: #ccc;
    font-size: 12px; }
  .wrap-footer input.footer-email {
    font-size: 12px; }
  .wrap-footer p.social-media {
    font-size: 22px;
    display: inline-block;
    padding-right: 15px;
    padding-top: 10px; }
  .wrap-footer span {
    color: #3c8dbc; }

#comment_bubble {
  width: 100%;
  padding: 20px;
  border: 5px solid #ccc;
  position: relative;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px; }

#comment_bubble:before {
  content: "";
  width: 0;
  height: 0;
  right: 100%;
  top: 38px;
  position: absolute;
  border-top: 13px solid transparent;
  border-right: 26px solid #ccc;
  border-bottom: 13px solid transparent; }

#comment_bubbleWomen {
  width: 100%;
  padding: 20px;
  border: 5px solid #ccc;
  position: relative;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px; }

#comment_bubbleWomen:before {
  content: "";
  width: 0;
  height: 0;
  left: 100%;
  top: 38px;
  position: absolute;
  border-top: 13px solid transparent;
  border-left: 26px solid #ccc;
  border-bottom: 13px solid transparent; }

p.backTop {
  border: none;
  font-size: 30px;
  color: #3c8dbc; }

.banner_background button {
  background: #3c8dbc;
  border: #3c8dbc;
  border-bottom: 5px solid #3c8dbc;
  padding: 10px 30px 25px 30px;
  font-size: 12px; }
  @media only screen and (max-width: 425px) {
    .banner_background button {
      margin-left: 30px; } }

.banner_background .containBanner1 {
  background: url("https://www.hyundaiusa.com/images/vehicles/pages/vlp/2018/santa-fe-sport/hero/base/2018-santa-fe-sport-24-base-frost-white.jpg") center no-repeat;
  background-size: cover;
  padding: 150px; }
  @media only screen and (max-width: 425px) {
    .banner_background .containBanner1 {
      margin-top: 5%;
      padding: 40px 0px 0px 0px !important;
      height: 400px !important; } }

.banner_background ul.slick-dots button {
  margin-top: -10px;
  padding: 10px; }

.banner_background h4 {
  color: #fff; }
  @media only screen and (max-width: 425px) {
    .banner_background h4 {
      font-size: 20px !important;
      margin-left: 8%; } }

.banner_background h1 {
  color: #fff;
  font-size: 43px; }
  @media only screen and (max-width: 425px) {
    .banner_background h1 {
      font-size: 30px !important;
      margin-left: 30px; } }

.banner_background p {
  color: #fff; }
  @media only screen and (max-width: 425px) {
    .banner_background p {
      margin-left: 30px; } }

.banner_background .containBanner2 {
  background: url("https://www.hyundaiusa.com/images/vehicles/pages/vlp/2018/santa-fe-sport/hero/base/2018-santa-fe-sport-24-base-platinum-graphite.jpg") center no-repeat;
  background-size: cover;
  padding: 150px; }
  @media only screen and (max-width: 425px) {
    .banner_background .containBanner2 {
      margin-top: 5%;
      padding: 40px 0px 0px 0px !important;
      height: 400px !important; } }

.background-card {
  background: #fbfbfb;
  padding: 10px; }
  .background-card:hover {
    background: #fff; }
  @media only screen and (max-width: 700px) {
    .background-card {
      padding: 0px; } }
  .background-card img {
    padding: 20px; }
    @media only screen and (max-width: 700px) {
      .background-card img {
        padding: 10px; } }
  .background-card h3 {
    font-size: 16px;
    font-weight: bold; }
    @media only screen and (max-width: 500px) {
      .background-card h3 {
        font-size: 14px; } }
  .background-card button {
    background: #3c8dbc;
    border: #3c8dbc;
    border-bottom: 5px solid #3c8dbc;
    padding: 10px 30px 25px 30px;
    font-size: 12px; }
    @media only screen and (max-width: 700px) {
      .background-card button {
        padding: 6px 20px 10px 20px;
        font-size: 12px;
        margin-bottom: 15px; } }
  .background-card button:hover {
    background: #3c8dbc;
    border: #3c8dbc;
    border-bottom: 5px solid #3c8dbc; }
  .background-card button:active {
    background: #3c8dbc;
    border: #3c8dbc;
    border-bottom: 5px solid #3c8dbc; }
  .background-card button:focus {
    background: #3c8dbc;
    border: #3c8dbc;
    border-bottom: 5px solid #3c8dbc; }
  @media only screen and (max-width: 320px) {
    .background-card button {
      padding: 5px;
      font-size: 10px; } }

.background-card2 {
  background: #fbfbfb;
  margin-bottom: 30px;
  padding: 20px;
  margin-top: 30px;
  margin-right: 15px;
  transition: 0.3s; }
  .background-card2 img {
    margin-top: 20%;
    height: 130px; }
    @media only screen and (max-width: 900px) {
      .background-card2 img {
        height: auto !important; } }
  .background-card2 button {
    background: #3c8dbc;
    border: #3c8dbc;
    border-bottom: 5px solid #fbfbfb;
    padding: 10px 30px 25px 30px;
    font-size: 12px;
    margin-bottom: 15px;
    background: #fbfbfb;
    color: #fbfbfb; }
  .background-card2 p.price {
    margin-top: -10px; }
  .background-card2 p.skin {
    font-size: 12px; }
  .background-card2 h3 {
    font-size: 14px;
    margin-top: 10px;
    padding-top: 10%;
    font-weight: bold; }

button.explore {
  background: #3c8dbc;
  color: #fff;
  padding: 10px 10px 30px 10px;
  width: 100%;
  border: none; }
  button.explore p {
    transition: 0.2s; }
  @media only screen and (max-width: 425px) {
    button.explore {
      font-size: 12px; } }

button.explore:hover {
  background: #3c8dbc;
  color: #fff;
  padding: 10px 10px 30px 10px;
  width: 100%;
  border: none; }
  button.explore:hover p {
    margin-left: 10px;
    transition: 0.2s; }

.background-card2:hover {
  background: #fff;
  box-shadow: 0 0 5px #3c8dbc;
  transform: scale(1.1); }
  .background-card2:hover button {
    background: #3c8dbc;
    border: #3c8dbc;
    border-bottom: 5px solid #3c8dbc;
    font-size: 12px;
    display: inline-block !important; }
  .background-card2:hover p.price {
    padding-bottom: 0px !important; }

.wrap-cardCarousel {
  padding-top: 10px; }
  .wrap-cardCarousel .header-ongoing {
    margin-top: 10px; }
  .wrap-cardCarousel button {
    font-size: 12px; }
  .wrap-cardCarousel .header {
    background: #f8f8f8;
    margin-bottom: 15px; }
    .wrap-cardCarousel .header p.left {
      font-weight: bold;
      padding-top: 15px;
      padding-left: 10px; }
    .wrap-cardCarousel .header p.right {
      color: #ccc;
      padding-top: 15px;
      padding-left: 10px;
      padding-right: 20px;
      float: right;
      transition: 0.2s; }
      .wrap-cardCarousel .header p.right:hover {
        padding-right: 10px;
        transition: 0.2s; }
  .wrap-cardCarousel li.slider-slide {
    position: none !important; }
  .wrap-cardCarousel .background-cardCarousel {
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #ccc; }
    .wrap-cardCarousel .background-cardCarousel:hover {
      background: #f8f8f8;
      cursor: pointer; }
  .wrap-cardCarousel img {
    padding-top: 7%;
    width: 80%;
    padding: 10px;
    height: 200px; }
  .wrap-cardCarousel .alice-carousel {
    padding: 20px 0px 40px 20px !important; }
  .wrap-cardCarousel h3 {
    font-size: 16px; }
  .wrap-cardCarousel p.titleHeader {
    font-size: 16px;
    font-weight: bold;
    padding-top: 2%;
    padding-left: 3%; }
  .wrap-cardCarousel p.color {
    font-size: 12px;
    line-height: 0.5; }
  .wrap-cardCarousel p.last {
    line-height: 0.5;
    font-size: 12px; }
  @media only screen and (max-width: 987px) {
    .wrap-cardCarousel {
      display: none; } }

.wrap-cardCarouselMobile {
  display: none; }
  .wrap-cardCarouselMobile .header-ongoing {
    margin-top: 20px; }
  .wrap-cardCarouselMobile button {
    font-size: 12px; }
  .wrap-cardCarouselMobile .header {
    background: #f8f8f8;
    margin-bottom: 15px; }
    .wrap-cardCarouselMobile .header p.left {
      font-weight: bold;
      padding-top: 15px;
      padding-left: 10px; }
    .wrap-cardCarouselMobile .header p.right {
      color: #ccc;
      padding-top: 15px;
      padding-left: 10px;
      padding-right: 20px;
      float: right;
      transition: 0.2s; }
      .wrap-cardCarouselMobile .header p.right:hover {
        padding-right: 10px;
        transition: 0.2s; }
  .wrap-cardCarouselMobile li.slider-slide {
    position: none !important; }
  .wrap-cardCarouselMobile .background-cardCarousel {
    padding: 10px 10px 10px 10px;
    border: 1px solid #ccc; }
    .wrap-cardCarouselMobile .background-cardCarousel:hover {
      background: #f8f8f8;
      cursor: pointer; }
  .wrap-cardCarouselMobile img {
    padding-top: 7%;
    width: 80%;
    padding: 10px; }
  .wrap-cardCarouselMobile h3 {
    font-size: 14px;
    padding-top: 10%;
    font-weight: bold; }
  .wrap-cardCarouselMobile p.color {
    font-size: 12px;
    line-height: 0.5; }
  .wrap-cardCarouselMobile p.last {
    line-height: 0.5;
    font-size: 12px; }
  @media only screen and (max-width: 987px) {
    .wrap-cardCarouselMobile {
      display: inherit; }
      .wrap-cardCarouselMobile ul.slider-list {
        height: 300px !important; } }

.slider-decorator-2 {
  display: none; }

ul.slider-list {
  height: 300px !important; }

.landing-lelang {
  padding-top: 3%; }
  .landing-lelang .alice-carousel {
    padding: 0px !important; }
  .landing-lelang .alice-carousel__dots-item {
    display: none; }
  .landing-lelang .body-header p {
    font-size: 16px;
    font-weight: bold; }
  .landing-lelang .body-header #date {
    color: #3c8dbc; }
  .landing-lelang .lelang-lot {
    background: #3c8dbc;
    margin-top: 15px; }
    @media only screen and (max-width: 425px) {
      .landing-lelang .lelang-lot {
        background: transparent;
        padding: 0px; } }
    @media only screen and (max-width: 800px) {
      .landing-lelang .lelang-lot {
        padding: 0px;
        background: transparent; } }
    @media only screen and (min-width: 1000px) and (max-width: 1040px) {
      .landing-lelang .lelang-lot {
        margin-top: 10px;
        margin-bottom: 10px; } }
    .landing-lelang .lelang-lot h2 {
      color: #fff;
      font-size: 14px;
      padding: 10px; }
      @media only screen and (max-width: 425px) {
        .landing-lelang .lelang-lot h2 {
          font-size: 12px;
          text-align: center;
          padding: 10px;
          color: #3c8dbc; } }
      @media only screen and (max-width: 800px) {
        .landing-lelang .lelang-lot h2 {
          color: #3c8dbc;
          font-size: 14px; } }
      @media only screen and (min-width: 700px) and (max-width: 780px) {
        .landing-lelang .lelang-lot h2 {
          font-size: 15px;
          text-align: center;
          padding: 10px;
          color: #3c8dbc; } }
  .landing-lelang img {
    padding: 10px;
    margin-top: 25px; }
  .landing-lelang .content-lelang {
    margin-top: 4%; }
    .landing-lelang .content-lelang p {
      font-size: 30px; }
    @media only screen and (max-width: 425px) {
      .landing-lelang .content-lelang {
        font-size: 12px; } }
    .landing-lelang .content-lelang button {
      background: #3c8dbc;
      border: none;
      color: #fff;
      font-size: 12px; }
      @media only screen and (max-width: 425px) {
        .landing-lelang .content-lelang button {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 12px; } }
      @media only screen and (max-width: 800px) {
        .landing-lelang .content-lelang button {
          margin-top: 10px;
          margin-bottom: 10px; } }
      @media only screen and (min-width: 700px) and (max-width: 780px) {
        .landing-lelang .content-lelang button {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 12px; } }
  .landing-lelang p.lihatJadwal {
    text-align: center;
    margin-top: 30px; }
  .landing-lelang .pagination {
    padding-top: 1%;
    padding-left: 10%; }
  .landing-lelang .row-lelang {
    border: 2px dotted #ccc;
    margin-top: 2%;
    padding: 20px; }
    .landing-lelang .row-lelang:hover {
      border: 2px solid #3c8dbc;
      transition: 0.5s; }
    .landing-lelang .row-lelang .grade-lelang {
      padding-top: 14%; }
      .landing-lelang .row-lelang .grade-lelang p.grade {
        color: #3c8dbc;
        padding: 10px;
        border-radius: 10px;
        float: right;
        border: 2px solid #ccc; }
    @media only screen and (max-width: 768px) {
      .landing-lelang .row-lelang {
        border: 1px solid #ccc !important; } }

@media only screen and (max-width: 500px) {
  .location-lelang {
    margin-top: 10%; } }

.location-lelang .body-header p {
  font-size: 16px;
  font-weight: bold; }

.location-lelang .body-header #date {
  color: #3c8dbc; }

.location-lelang .wrap-location {
  font-size: 20px;
  font-weight: bold;
  font-family: Helvetica;
  margin-top: 2%; }

.location-lelang .body-location {
  margin-top: -10px; }
  .location-lelang .body-location p {
    font-size: 12px;
    line-height: 0.5; }

.alice-carousel__wrapper {
  border: none !important; }

.searchLelang p {
  color: #000; }

.searchLelang .lot {
  background: #ccc;
  color: #000;
  font-size: 10px;
  padding: 10px;
  text-align: center; }

.listLelang .headerLelang p {
  font-size: 18px;
  color: #000; }

.listLelang .box p.title {
  color: #000;
  font-size: 12px; }

.listLelang .box p.sub-title {
  font-size: 16px;
  color: #000; }

.listLelang .lot {
  background: #ccc;
  color: #000;
  text-align: center;
  padding: 10px; }

.listLelang .contentLelang {
  box-shadow: 0 0 10px #ccc;
  padding: 20px 0px 20px 0px; }
  .listLelang .contentLelang:hover {
    background: #f8f8f8; }

.wrap-ListLelang {
  padding-top: 8%; }
  .wrap-ListLelang p.header {
    font-size: 14px;
    font-weight: bold; }
  @media only screen and (max-width: 768px) {
    .wrap-ListLelang {
      padding-top: 25%; } }
  @media only screen and (max-width: 900px) {
    .wrap-ListLelang .ant-select-selection--single {
      margin-top: 10px !important; }
    .wrap-ListLelang button {
      margin-top: 10px !important; } }

.wrap-viewCarPage .contentKendaraan p.header {
  font-size: 20px; }

@media only screen and (max-width: 500px) {
  #hasilPencarian {
    margin-top: 20px; } }

* {
  box-sizing: border-box; }

.flex {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex; }
  .flex.column {
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    -ms-flex-direction: column; }
  .flex.row {
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    -ms-flex-direction: row; }
  .flex .swap1 {
    order: 1;
    -webkit-order: 1;
    -moz-order: 1;
    -o-order: 1;
    -ms-order: 1; }
  .flex .swap2 {
    order: 2;
    -webkit-order: 2;
    -moz-order: 2;
    -o-order: 2;
    -ms-order: 2; }

@media screen and (max-width: 767px) {
  .flex .swap1 {
    order: 2;
    -webkit-order: 2;
    -moz-order: 2;
    -o-order: 2;
    -ms-order: 2; }
  .flex .swap2 {
    order: 1;
    -webkit-order: 1;
    -moz-order: 1;
    -o-order: 1;
    -ms-order: 1; } }

section {
  padding-bottom: 5%; }
  section .title {
    text-align: center;
    font-weight: bold;
    padding-top: 20px; }
    section .title:after {
      content: "";
      display: block;
      width: 100px;
      height: 3px;
      margin: 20px auto;
      background-color: #b9de26; }

#top-menu {
  margin-bottom: 0px;
  padding: 10px;
  border: none;
  background: none; }
  #top-menu .logo {
    height: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: auto; }
  #top-menu #top-menu-content .nav > li > a {
    padding-right: 5px; }
  #top-menu #top-menu-content .active a,
  #top-menu #top-menu-content .open a {
    background: none; }
  #top-menu #top-menu-content .dropdown-menu {
    border: none;
    box-shadow: none;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.8); }

@media screen and (max-width: 991px) {
  #top-menu .logo {
    position: relative; } }

@media screen and (max-width: 767px) {
  #top-menu .dropdown-toggle:focus, #top-menu .dropdown-toggle:visited, #top-menu .dropdown-toggle:active {
    color: #777; }
  #top-menu .dropdown-toggle .caret {
    display: none; }
  #top-menu .dropdown-menu {
    display: block;
    position: static;
    width: 100%;
    float: none; }
    #top-menu .dropdown-menu .dropdown-header,
    #top-menu .dropdown-menu a {
      padding: 5px 15px 5px 25px; }
    #top-menu .dropdown-menu a {
      line-height: 20px;
      color: #777; } }

#top-picture {
  height: 200px;
  background-size: 100% !important;
  background-color: rgba(11, 28, 28, 0.1915), url("../image/bannerabout.jpg");
  /* Fallback */
  background-image: url("../image/bannerabout.jpg");
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(11, 28, 28, 0.137)), to(rgba(11, 28, 28, 0.246))), url("../image/bannerabout.jpg");
  background-image: -webkit-linear-gradient(top, rgba(11, 28, 28, 0.137), rgba(11, 28, 28, 0.246)), url("../image/bannerabout.jpg");
  background-image: -moz-linear-gradient(top, rgba(11, 28, 28, 0.137), rgba(11, 28, 28, 0.246)), url("../image/bannerabout.jpg");
  background-image: -ms-linear-gradient(top, rgba(11, 28, 28, 0.137), rgba(11, 28, 28, 0.246)), url("../image/bannerabout.jpg");
  background-image: -o-linear-gradient(top, rgba(11, 28, 28, 0.137), rgba(11, 28, 28, 0.246)), url("../image/bannerabout.jpg");
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='rgba(11, 28, 28, 0.137)', EndColorStr='rgba(11, 28, 28, 0.246)')"; }
  #top-picture .content {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -o-flex;
    display: -ms-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -o-justify-content: center;
    -ms-justify-content: center;
    align-items: flex-end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -o-align-items: flex-end;
    -ms-align-items: flex-end; }
    #top-picture .content .card {
      max-width: 600px;
      color: #eaeaea;
      text-align: center;
      margin-bottom: 15px; }
      @media only screen and (max-width: 500px) {
        #top-picture .content .card {
          margin-bottom: 0px !important; }
          #top-picture .content .card h1 {
            font-size: 20px; } }
      #top-picture .content .card h1 {
        font-size: 26px; }
      #top-picture .content .card .line {
        display: inline-block;
        width: 100px;
        height: 3px;
        margin: 15px;
        background-color: #b9de26; }
      #top-picture .content .card .description {
        font-size: 24px; }

.bannerabout {
  background: url("../image/bannerabout.jpg") no-repeat;
  background-size: cover;
  background: #000;
  padding: 10%; }

.bannerAbout .desktop {
  height: 300px;
  background-size: 100% !important;
  background: url("../image/bg_about.jpeg");
  background-attachment: fixed; }
  .bannerAbout .desktop .shadow {
    background: rgba(255, 255, 255, 0.561);
    height: 300px; }
    .bannerAbout .desktop .shadow h3 {
      font-weight: 400 !important;
      font-size: 30px;
      color: #1f659a; }
  @media only screen and (max-width: 800px) {
    .bannerAbout .desktop {
      display: none; } }

.bannerAbout .mobile {
  height: 400px;
  background-size: cover !important;
  background: url("../image/bg_about.jpeg") no-repeat; }
  .bannerAbout .mobile .shadow {
    background: rgba(255, 255, 255, 0.561);
    height: 380px;
    padding: 50px;
    margin-top: 30px; }
    .bannerAbout .mobile .shadow h3 {
      font-weight: 400 !important;
      font-size: 30px;
      color: #1f659a; }
  @media only screen and (min-width: 800px) {
    .bannerAbout .mobile {
      display: none; } }

.body-card2 {
  padding-top: 5%;
  padding-bottom: 5%; }

.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-tab {
  text-align: left !important;
  border: 2px solid #f8f8f8;
  font-size: 12px;
  padding: 15px 40px 15px 40px;
  color: #ccc; }

.ant-tabs-tab-active.ant-tabs-tab {
  background: #f8f8f8;
  color: #000 !important; }

.ant-tabs-ink-bar {
  background-color: #3c8dbc !important; }

@media only screen and (max-width: 800px) {
  .desktopTabs {
    display: none; } }

@media only screen and (min-width: 800px) {
  .mobileTabs {
    display: none; } }

.wrap-login {
  padding-top: 8%;
  padding-bottom: 8%; }
  .wrap-login a.login-form-forgot {
    float: right; }
  .wrap-login .boxshadow-login {
    box-shadow: 0 0 10px #ccc;
    padding: 3%; }
  .wrap-login button.login-form-button {
    width: 100%;
    background: #3c8dbc;
    border: none; }
  .wrap-login input::placeholder {
    font-size: 12px; }
  .wrap-login input {
    font-size: 12px; }
  @media only screen and (max-width: 400px) {
    .wrap-login {
      padding-top: 25%; } }
  @media only screen and (min-width: 520px) and (max-width: 600px) {
    .wrap-login {
      padding-top: 10%;
      padding-left: 10%; } }

.wrap-registerChoosePage {
  padding-top: 10%;
  padding-bottom: 5%; }
  .wrap-registerChoosePage .body-register {
    border: 1px solid #ccc; }
    @media only screen and (max-width: 500px) {
      .wrap-registerChoosePage .body-register {
        margin-top: 10%; } }
    .wrap-registerChoosePage .body-register .header {
      background: #3c8dbc; }
      .wrap-registerChoosePage .body-register .header p {
        padding: 10px;
        color: #fff; }
    .wrap-registerChoosePage .body-register .headerLeftPanel {
      background: #d2d6de;
      margin-left: 10px; }
      .wrap-registerChoosePage .body-register .headerLeftPanel p {
        padding: 10px; }
    .wrap-registerChoosePage .body-register .bodyLeftPanel {
      border: 1px solid #ccc;
      margin-left: 10px;
      margin-top: -15px;
      margin-bottom: 15px; }
      .wrap-registerChoosePage .body-register .bodyLeftPanel .content {
        border: 1px solid #ccc;
        margin: 10px;
        overflow-y: auto;
        height: 450px; }
        .wrap-registerChoosePage .body-register .bodyLeftPanel .content h4 {
          padding: 10px; }
        .wrap-registerChoosePage .body-register .bodyLeftPanel .content p {
          margin-left: 10px; }
        .wrap-registerChoosePage .body-register .bodyLeftPanel .content::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
          background-color: #f5f5f5; }
        .wrap-registerChoosePage .body-register .bodyLeftPanel .content::-webkit-scrollbar {
          width: 5px;
          background-color: #f5f5f5; }
        .wrap-registerChoosePage .body-register .bodyLeftPanel .content::-webkit-scrollbar-thumb {
          background-color: #3c8dbc;
          border: 1px solid #3c8dbc; }
    .wrap-registerChoosePage .body-register .headerRightPanel {
      border-top: 5px solid #3c8dbc;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      margin-right: 15px;
      padding: 10px; }
      .wrap-registerChoosePage .body-register .headerRightPanel input::placeholder {
        font-size: 12px; }
      .wrap-registerChoosePage .body-register .headerRightPanel p {
        margin-top: 5px; }
      .wrap-registerChoosePage .body-register .headerRightPanel button {
        background: #3c8dbc;
        font-size: 12px; }

.wrap-viewCarPage {
  padding-top: 8%;
  padding-bottom: 3%; }
  .wrap-viewCarPage .body-panel {
    background: #fff;
    border: 1px solid #ccc;
    margin-top: -12px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 15px; }
  .wrap-viewCarPage p.header {
    font-size: 18px;
    font-weight: bold;
    font-family: Helvetica;
    text-transform: uppercase; }
  .wrap-viewCarPage p.overview-title {
    font-weight: bold;
    font-size: 16px; }
  .wrap-viewCarPage .right-panel p.title {
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px;
    background: #3c8dbc;
    color: #fff; }
  .wrap-viewCarPage .alice-carousel {
    padding: 0px !important; }

.multiSlider img {
  width: 100%;
  height: 400px; }

.multiSliderThumbs {
  padding: 0 15px 0 15px !important;
  padding: 0px; }
  .multiSliderThumbs .col-md-4 {
    padding: 0px !important; }
  .multiSliderThumbs img {
    width: 100%;
    height: 120px; }

.infoKendaraan {
  padding-top: 20px; }
  .infoKendaraan span {
    color: #3c8dbc; }

.alice-carousel .animated {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.alice-carousel .animated-out {
  z-index: 1; }

.alice-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut; }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    visibility: hidden; } }

.alice-carousel {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding: 60px;
  margin: auto; }

.alice-carousel__wrapper {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
  border: solid 1px rgba(70, 87, 152, 0.3); }

.alice-carousel__stage {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  box-sizing: border-box; }
  .alice-carousel__stage-item {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    line-height: 0; }
    .alice-carousel__stage-item * {
      line-height: initial; }
    .alice-carousel__stage-item.__cloned {
      opacity: 0;
      visibility: hidden; }
  .alice-carousel__stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%; }

.alice-carousel__prev-btn-item,
.alice-carousel__next-btn-item {
  display: inline-block;
  position: absolute;
  width: 42px;
  height: 42px;
  top: 50%;
  transform: translateY(-50%);
  color: #6e7ebc;
  cursor: pointer;
  font-size: 1.9em;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #6e7ebc;
  transition: 0.3s ease; }
  .alice-carousel__prev-btn-item:before,
  .alice-carousel__next-btn-item:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  .alice-carousel__prev-btn-item:hover,
  .alice-carousel__next-btn-item:hover {
    color: darkred;
    border: 1px solid darkred; }
  .alice-carousel__prev-btn-item.__inactive,
  .alice-carousel__next-btn-item.__inactive {
    opacity: .4; }

.alice-carousel__prev-btn-item {
  left: 0; }
  .alice-carousel__prev-btn-item:after {
    content: '\02039'; }

.alice-carousel__next-btn-item {
  right: 0; }
  .alice-carousel__next-btn-item:after {
    content: '\0203A'; }

.alice-carousel__play-btn {
  display: inline-block;
  position: absolute;
  bottom: 90px;
  left: 80px;
  transform: scale(0.8); }
  .alice-carousel__play-btn:hover {
    cursor: pointer; }

.alice-carousel__play-btn-item {
  cursor: pointer;
  position: absolute;
  top: 50%;
  background: transparent;
  border: 0;
  transform: translateY(-50%);
  width: 32px;
  height: 30px;
  outline: none; }
  .alice-carousel__play-btn-item::before, .alice-carousel__play-btn-item::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    border-style: solid;
    border-color: transparent;
    border-width: 8px 0 8px 15px;
    border-left-color: #fff;
    width: 0;
    height: 0;
    transition: all 0.3s linear; }
  .alice-carousel__play-btn-item::before {
    height: 16px; }
  .alice-carousel__play-btn-item::after {
    left: 15px;
    top: 8px; }
  .alice-carousel__play-btn-item.__pause::before, .alice-carousel__play-btn-item.__pause::after {
    border-width: 0 0 0 10px;
    height: 30px; }
  .alice-carousel__play-btn-item.__pause::after {
    left: 18px;
    top: 0; }

.alice-carousel__dots {
  position: absolute;
  display: inline-block;
  margin: auto;
  padding: 0;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%); }
  .alice-carousel__dots-item {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #e0e4fb; }
    .alice-carousel__dots-item:not(:last-child) {
      margin-right: 15px; }
    .alice-carousel__dots-item:hover, .alice-carousel__dots-item.__active {
      background-color: #6e7ebc; }
