body {
  background: #fff !important;
  font-family: Helvetica !important; }

.wrap-nav {
  position: fixed;
  z-index: 999;
  width: 100%; }
  .wrap-nav a.anchorActive {
    color: #ff741a !important; }
  .wrap-nav .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    box-shadow: 0 0 10px #ccc;
    background: #fff;
    color: #ff741a; }
  .wrap-nav .navbar-inverse {
    border: none; }
    .wrap-nav .navbar-inverse .navbar-toggle {
      border: none;
      background: #eb5f02; }
    .wrap-nav .navbar-inverse .navbar-toggle:hover {
      border: none;
      background: #eb5f02; }
    .wrap-nav .navbar-inverse .navbar-collapse {
      border: none; }
    .wrap-nav .navbar-inverse .navbar-form {
      border: none; }
    .wrap-nav .navbar-inverse .navbar-nav > li > a {
      color: #000; }
    .wrap-nav .navbar-inverse .navbar-nav > li > a:focus {
      color: #eb5f02; }
    .wrap-nav .navbar-inverse .navbar-nav > li > a:hover {
      color: #ff731a; }
    .wrap-nav .navbar-inverse .navbar-nav > li > a:hover {
      color: #eb5f02; }

span.orange {
  color: #ff741a;
  font-weight: bold; }

ul.right {
  float: right; }
  @media only screen and (max-width: 765px) {
    ul.right {
      float: none; } }

img.logo {
  margin-top: -5px; }

.landing-lelang {
  padding-top: 3%; }
  .landing-lelang .body-header p {
    font-size: 18px;
    font-weight: bold; }
  .landing-lelang .body-header #date {
    color: #ff731a; }
  .landing-lelang .lelang-lot {
    background: #ff741a;
    margin-top: 15px; }
    @media only screen and (max-width: 425px) {
      .landing-lelang .lelang-lot {
        background: transparent;
        padding: 0px; } }
    @media only screen and (max-width: 800px) {
      .landing-lelang .lelang-lot {
        padding: 0px;
        background: transparent; } }
    @media only screen and (min-width: 1000px) and (max-width: 1040px) {
      .landing-lelang .lelang-lot {
        margin-top: 10px;
        margin-bottom: 10px; } }
    .landing-lelang .lelang-lot h2 {
      color: #fff;
      font-size: 14px;
      padding: 10px; }
      @media only screen and (max-width: 425px) {
        .landing-lelang .lelang-lot h2 {
          font-size: 12px;
          text-align: center;
          padding: 10px;
          color: #ff731a; } }
      @media only screen and (max-width: 800px) {
        .landing-lelang .lelang-lot h2 {
          color: #ff731a;
          font-size: 14px; } }
      @media only screen and (min-width: 700px) and (max-width: 780px) {
        .landing-lelang .lelang-lot h2 {
          font-size: 15px;
          text-align: center;
          padding: 10px;
          color: #ff731a; } }
  .landing-lelang img {
    padding: 10px;
    margin-top: 15px; }
  .landing-lelang .content-lelang {
    margin-top: 4%; }
    .landing-lelang .content-lelang p.sub-title {
      line-height: 1; }
    .landing-lelang .content-lelang p.year {
      line-height: 1; }
    .landing-lelang .content-lelang p.type {
      line-height: 1; }
    .landing-lelang .content-lelang p.loc {
      line-height: 1; }
      @media only screen and (max-width: 720px) {
        .landing-lelang .content-lelang p.loc {
          line-height: 2; } }
    @media only screen and (max-width: 425px) {
      .landing-lelang .content-lelang {
        font-size: 12px; } }
    .landing-lelang .content-lelang button {
      background: #ff741a;
      border: none;
      color: #fff;
      font-size: 12px; }
      @media only screen and (max-width: 425px) {
        .landing-lelang .content-lelang button {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 12px; } }
      @media only screen and (max-width: 800px) {
        .landing-lelang .content-lelang button {
          margin-top: 10px;
          margin-bottom: 10px; } }
      @media only screen and (min-width: 700px) and (max-width: 780px) {
        .landing-lelang .content-lelang button {
          margin-top: 10px;
          margin-bottom: 10px;
          font-size: 12px; } }
  .landing-lelang p.lihatJadwal {
    text-align: center;
    margin-top: 30px; }
  .landing-lelang .pagination {
    padding-top: 1%;
    padding-left: 10%; }
  .landing-lelang .row-lelang {
    border: 2px dotted #ccc;
    margin-top: 2%; }
    @media only screen and (max-width: 768px) {
      .landing-lelang .row-lelang {
        border: 1px solid #ccc !important; } }

.location-lelang .body-header p {
  font-size: 18px;
  font-weight: bold; }

.location-lelang .body-header #date {
  color: #ff731a; }

.location-lelang .wrap-location {
  font-size: 20px;
  font-weight: bold;
  font-family: Helvetica;
  margin-top: 2%; }

.location-lelang .body-location {
  margin-top: -10px; }
  .location-lelang .body-location p {
    font-size: 12px;
    line-height: 0.5; }

.wrap-client {
  padding-top: 3%; }
  .wrap-client .client-border {
    border-top: 2px solid #f8f8f8;
    padding-top: 2%; }

.wrap-footer {
  color: #b3b3b3; }
  .wrap-footer .logo-footer {
    padding-bottom: 2%; }
  .wrap-footer p.street {
    line-height: 0.8; }
  .wrap-footer p.phone {
    line-height: 0; }
  .wrap-footer .body-client {
    padding-top: 4%; }
  .wrap-footer .logo-addins {
    padding-top: 10%; }
  .wrap-footer .border {
    border-top: 2px solid #f8f8f8;
    border-bottom: 2px solid #f8f8f8;
    padding-bottom: 3%;
    padding-top: 2%; }
  .wrap-footer p {
    line-height: 1.2;
    font-family: Helvetica; }
  .wrap-footer p.footer {
    text-align: center;
    padding-top: 1%; }

.adsense {
  padding-top: 2%; }

p.backTop {
  border: none;
  font-size: 30px;
  color: #eb5f02; }

.banner_background {
  background: url("http://techcornerz.com/wp-content/uploads/2017/06/lamborghini-aventador-2017-reviews.jpg") center no-repeat;
  height: 450px;
  background-size: cover; }
  .banner_background .contain {
    padding: 2%;
    margin-top: 10%; }
    .banner_background .contain h4 {
      font-size: 15px;
      color: #fff;
      text-align: justify;
      font-family: Helvetica; }
      @media only screen and (max-width: 320px) {
        .banner_background .contain h4 {
          font-size: 12px;
          padding-top: 70px; } }
      @media only screen and (min-width: 321px) and (max-width: 430px) {
        .banner_background .contain h4 {
          font-size: 12px;
          padding-top: 80px; } }
    .banner_background .contain h1 {
      font-size: 45px;
      font-family: Helvetica;
      font-weight: bold;
      color: #fff;
      text-align: justify;
      margin-top: 0px; }
      @media only screen and (max-width: 320px) {
        .banner_background .contain h1 {
          font-size: 24px; } }
      @media only screen and (min-width: 321px) and (max-width: 430px) {
        .banner_background .contain h1 {
          font-size: 28px; } }
    .banner_background .contain p {
      color: #fff;
      text-align: justify;
      margin-top: 0px; }
    .banner_background .contain button {
      float: left;
      background: #ff741a;
      border: #ff741a;
      border-bottom: 5px solid #eb5f02;
      padding: 10px 30px 25px 30px;
      font-size: 12px; }
  .banner_background ul.slick-dots button {
    margin-top: 100px;
    padding: 10px; }

.background-card {
  background: #fbfbfb;
  margin-top: 10%;
  padding: 5%; }
  @media only screen and (max-width: 700px) {
    .background-card {
      padding: 0px; } }
  .background-card img {
    padding: 20px; }
    @media only screen and (max-width: 700px) {
      .background-card img {
        padding: 10px; } }
  .background-card h3 {
    font-size: 16px;
    font-weight: bold; }
    @media only screen and (max-width: 500px) {
      .background-card h3 {
        font-size: 14px; } }
  .background-card button {
    background: #ff741a;
    border: #ff741a;
    border-bottom: 5px solid #eb5f02;
    padding: 10px 30px 25px 30px;
    font-size: 12px; }
    @media only screen and (max-width: 700px) {
      .background-card button {
        padding: 6px 20px 10px 20px;
        font-size: 12px;
        margin-bottom: 15px; } }
  .background-card button:hover {
    background: #ff741a;
    border: #ff741a;
    border-bottom: 5px solid #eb5f02; }
  .background-card button:active {
    background: #ff741a;
    border: #ff741a;
    border-bottom: 5px solid #eb5f02; }
  .background-card button:focus {
    background: #ff741a;
    border: #ff741a;
    border-bottom: 5px solid #eb5f02; }
  @media only screen and (max-width: 320px) {
    .background-card button {
      padding: 5px;
      font-size: 10px; } }

.background-card:hover {
  box-shadow: 0 0 5px #ff741a;
  background: #fff; }

.body-card2 {
  padding-top: 5%;
  padding-bottom: 5%; }

.ant-tabs-vertical.ant-tabs-left > .ant-tabs-bar .ant-tabs-tab {
  text-align: left !important;
  border: 2px solid #f8f8f8;
  font-size: 12px;
  padding: 15px 40px 15px 40px;
  color: #ccc; }

.ant-tabs-tab-active.ant-tabs-tab {
  background: #f8f8f8;
  color: #000 !important; }

.ant-tabs-ink-bar {
  background-color: #eb5f02 !important; }

.background-card2 {
  background: #fbfbfb;
  margin-bottom: 30px;
  padding: 20px;
  margin-top: 30px;
  margin-right: 15px;
  transition: 0.3s; }
  .background-card2 img {
    margin-top: 20%; }
  .background-card2 button {
    background: #ff741a;
    border: #ff741a;
    border-bottom: 5px solid #fbfbfb;
    padding: 10px 30px 25px 30px;
    font-size: 12px;
    margin-bottom: 15px;
    background: #fbfbfb;
    color: #fbfbfb; }
  .background-card2 p.price {
    margin-top: -10px; }
  .background-card2 p.skin {
    font-size: 12px; }
  .background-card2 h3 {
    font-size: 16px;
    margin-top: 10px;
    padding-top: 10%;
    font-weight: bold; }

button.explore {
  background: #ff741a;
  color: #fff;
  padding: 10px 10px 30px 10px;
  width: 100%;
  border: none; }
  button.explore p {
    transition: 0.2s; }

button.explore:hover {
  background: #ff741a;
  color: #fff;
  padding: 10px 10px 30px 10px;
  width: 100%;
  border: none; }
  button.explore:hover p {
    margin-left: 10px;
    transition: 0.2s; }

.background-card2:hover {
  background: #fff;
  box-shadow: 0 0 4px #ccc;
  transform: scale(1.1); }
  .background-card2:hover button {
    background: #ff741a;
    border: #ff741a;
    border-bottom: 5px solid #eb5f02;
    font-size: 12px;
    display: inline-block !important; }
  .background-card2:hover p.price {
    padding-bottom: 0px !important; }
